<head>
        <title>ABHI-GADI ADDA</title>
</head>
    <body>
        <div>
            <h1><a href="">ABHI-GADI ADDA</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I AM THE KING.I AM HERE TO RULE THIS WORLD. I AM A SUPERMAN. YOU CANT'T HANDLE ME. I AM THE ONLY TOUGHEST GUY IN THE WORLD. I WILL BECOME A SUPERPOWER OF THIS WORLD. THIS IS JUST A SAMPLE ABOUT ME. THERS'S STILL A LOT MORE TO KNOW ABOUT ME. INORDER TO KNOW MORE PLEASE DO SUBSCRIBE MY BLOG</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
